{% extends "base.html" %}

{% block title %}
    <img src="https://ibb.co/dsJydg3v" alt="Long's Image">(/img>)
{% endblock %}

{% block content %}

<section class="hero">
    <h1>Hi, I'm Long.</h1>

    <p>
        This is where I write about cybersecurity, homelabs,
        technology, projects, and whatever rabbit hole I'm
        currently exploring.
    </p>
</section>


<section class="posts">
    <h1>Blog</h1>

   {% for post in posts %}
    <article class="blog-post-preview">
        <h2>
            <a href="{{ url_for('post', slug=post.slug) }}">
                {{ post.title }}
            </a>
        </h2>

        <p class="post-date">{{ post.date }}</p>

        <p>{{ post.description }}</p>
    </article>
{% endfor %}
</section>

{% endblock %}